  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* left and right halves */
    align-items: center; /* vertically align content */
    gap: 10px; /* space between text and image */
    padding:20px;
    box-shadow: 5px 5px 10px yellowgreen;
    border-radius:10px;
  }

  .para {
    /* no need for grid here */
  }

  .laundry-facility-pic {
    width: 250px;
    border-radius: 8px;
  }
  .laundry-facility-pic:hover {
    width: 300px;
    box-shadow: 5px 5px 12 blue;
  }